:root {
  --blue-main: #295180;
  --blue-light: #2d5b90;
  --light: #f5f5f5;
  --accent: #ffd700;
  --accent-dark: #96841d;
}
body {
  background-color: var(--blue-main);
}
.navTitle {
  font-weight: 600;
  font-size: 2em;
}
.blogBox {
  margin-top: 8px;
  border-style: solid;
}
.blogTitle {
  text-decoration: none;
  color: var(--light);
}
.blogDesc {
  border-style: solid;
  margin-bottom: 5px;
  padding: 2px;
  background-color: var(--blue-light);
}
.blogDescMain {
  font-weight: 700;
}
.blogDescTwo {
  font-size: 25px;
  font-style: italic;
}
.blogCreate {
  font-weight: bold;
  font-style: italic;
  font-size: 12px;
  padding: 5px;
  color: var(--light);
}
.blogBoxCont {
  margin-top: 10px;
  border-style: solid;
  background-color: var(--blue-main);
}
.formCont {
  margin-top: 10px;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.commentCont {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  max-width: 75%;
  background-color: var(--blue-main);
}
.commentOwner {
  font-size: 14px;
}
.btnComment {
  margin-top: 10px;
}
.commentText {
  font-weight: bold;
  padding-top: 10px;
  background-color: var(--blue-main);
}
.commentCont {
  border-style: dashed;
}
.headerRow {
  background-color: var(--light);
  margin-bottom: 10px;
}
a:link {
  color: var(--light);
}
a:visited {
  color: var(--accent-dark);
}
a:hover {
  color: var(--accent);
}
.login {
  margin-left: 25px;
  color: var(--light);
}
.signup {
  margin-left: 25px;
}
.form-group {
  margin-top: 10px;
}
